GITHUB_TOKEN=ghp_xxx_replace_me
GITHUB_OWNER=zdevtool

TRADING_PAL_REPO=trading_pal
TRADING_PAL_WORKFLOW=trading.yml

OPTION_PAL_REPO=option_pay
OPTION_PAL_WORKFLOW=options_scanner.yml

HEARTBEAT_PAL_REPO=heartbeat_pal
HEARTBEAT_PAL_WORKFLOW=scan.yml

CORS_ALLOW_ORIGIN=*
